<app-progressbar></app-progressbar>

<div class="container">
  <div class="row">
    <div class="col hv100 d-flex align-items-center justify-content-center">
      <div class="card" style="width: 18rem;">
        <div
          class="card-body d-flex flex-column align-items-center justify-content-center"
        >
          <h2 class="card-title">Upload your image</h2>
          <h6>
            File should be Jpeg, Png
          </h6>
          <div
            (drop)="onDrop($event)"
            (dragover)="onDragover($event)"
            (dragleave)="onDragleave($event)"
            #drogArea
            class="drog__area"
            draggable="true"
          >
            <img src="/assets/img/drog-image.png" alt="" />
            <h6>Drag & Drop your image here</h6>
          </div>
          <p>Or</p>
          <button class="button__drog">Choose a file</button>
        </div>
      </div>
    </div>
  </div>
</div>
